site/
fonts/
images/
logo/
.DS_Store

**/.sketch

node_modules
.sass-cache

*.ai

dev/*
!dev/wp-content/
dev/wp-content/*
!dev/wp-content/themes/
dev/wp-content/themes/*
!dev/wp-content/themes/csi/
dev/wp-content/themes/csi/.sass-cache
dev/wp-content/themes/csi/node_modules
