/* CSI
 *
 * /sass/components/footer.scss - styles for footer
 *
 * coded by Anne
 * started at 29/11/2016
 */

.footer {
	clear: both;
	background: $lightColor;

	&__menu {
		padding: 3em 0;
		width: 75%;
		margin: 0 auto;
	}

	&__coord {
		background: $middleColor;
		color: white;
		padding: 5em 0;
		line-height: 1.6;
	}

	&__news {
		padding: 3em 0;
		&--text {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5%;
			margin-left: 16%;
		}
	}
	&__form {

	}
	&__label {
		margin-bottom: .6em;
	}
	&__input {
		width: 80%;
		display: inline-block;
		height: 3em;
		border: none;
		padding: .5em;
		border-radius: 5px;
		border: 1px solid transparent;
	}
	&__input:focus {
		outline: none;
		border: 1px solid $middleColor;
	}
	&__button {
		width: 10%;
		display: inline-block;

	}
}

#mc_embed_signup {
	display: inline-block;
	vertical-align: middle;
	width: 30%;
}

.button {
	width: 100%;
    height: 3em;
    background-color: $middleColor;
    color: white;
    border: 1px solid $middleColor;
    border-radius: 5px;
}
.button:hover {
	background-color: $darkColor;
    border: 1px solid $darkColor;
}

.coord {

	&__left {
		float: left;
		margin-left: 30%;
		margin-top: -2em;
	}

	&__right{
		float: right;
		margin-right: 30%;
		margin-top: -2em;
	}
}

.menu-footer-container {
	padding: 3em 0;
	margin: 0 auto;
}
#menu-footer {
	margin-left: 0;
}
#menu-footer > .menu-item {
	display: inline-block;
	width: 8em;
	height: 8em;
	padding: 1em;
	border: 1px solid transparent;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	transition: border-color .5s ease;

	&--about::before {
		content:'';

	}
	&--pratique::before {
		content:'';
	}
	&--garde::before {
		content:'';
	}
	&--activite::before {
		content:'';
	}
	&--contact::before {
		content:'';
	}
	&--links::before {
		content:'';
	}
}

#menu-footer > .menu-item::before {
	font-family: 'FontAwesome';
	display: block;
	margin-bottom: .6em;
	text-align: center;
	font-size: 2em;
}

#menu-footer > .menu-item:hover, #menu-footer > .menu-item:focus, #menu-footer > .menu-item:active {
	border: 1px solid $textColor;
}

#menu-footer > .menu-item + .menu-item {
	margin-left: 5.1%;
}

@media screen and (max-width: 1420px) {
	#menu-footer > .menu-item {
		font-size: .9em;
	}
}
@media screen and (max-width: 1279px) {
	.footer {
		&__menu {
			width: 80%;
		}
	}
}
@media screen and (max-width: 1200px) {
	.footer {
		&__menu {
			width: 85%;
		}
	}
	#mc_embed_signup {
		width: 35%;
	}
}
@media screen and (max-width: 1129px) {
	#menu-footer > .menu-item + .menu-item {
		margin-left: 4%;
	}
	#menu-footer {
		padding-left: 3%;
	}
}
@media screen and (max-width: 1084px) {
	.footer {
		&__menu {
			width: 90%;
			padding: 2em 0;
		}
	}
	#menu-footer > .menu-item + .menu-item {
		margin-left: 3%;
	}
	#menu-footer {
		padding-left: 5%;
	}
	.coord {
		&__left {
			margin-left: 25%;
		}
		&__right {
			margin-right: 25%;
		}
	}
	.footer__news--text {
		margin-left: 10%;
	}
}
@media screen and (max-width: 985px) {
	.footer {
		&__menu {
			width: 90%;
			padding: 2em 0;
		}
	}
	#menu-footer {
		padding-left: 2.5%;
	}
	#menu-footer > .menu-item {
		font-size: .8em;
	}
}
@media screen and (max-width: 938px) {
	.footer__news--text {
		display: block;
		width: 60%;
		margin: 0 auto 2em;
	}
	#mc_embed_signup {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 855px) {
	.footer {
		&__menu {
			width: 80%;
			padding: 1em 0;
		}
	}
	#menu-footer {
		padding-left: 8%;
	}

	#menu-footer > .menu-item {
		margin-left: 10%;
	}
	#menu-footer > .menu-item + .menu-item {
		margin-left: 10%;
	}
	.coord {
		&__left {
			margin-left: 20%;
		}
		&__right {
			margin-right: 20%;
		}
	}

}
@media screen and (max-width: 768px) {
	.footer {
		.menu > .menu-item a {
			padding-left: 0;
		}
	}
}
@media screen and (max-width: 750px) {
	#menu-footer {
		padding-left: 4%;
	}
	.coord {
		&__left {
			margin-left: 15%;
		}
		&__right {
			margin-right: 15%;
		}
	}

}
@media screen and (max-width: 650px) {
	#menu-footer {
		padding-left: 0;
	}
}
@media screen and (max-width: 600px) {
	.footer {
		&__coord {
			padding: 3em 0;
		}
	}
	.coord {
		&__left {
			float: none;
			display: block;
			width: 100%;
			margin: 0 0 1em 30%;
		}
		&__right {
			float: none;
			display: block;
			width: 100%;
			margin: 0 0 0 30%;
		}
	}
	.footer__news--text {
		width: 70%;
	}
	#mc_embed_signup {
		width: 70%;
	}
}
@media screen and (max-width: 565px) {
	.footer {
		&__menu {
			width: 85%;
		}
	}
	#menu-footer > .menu-item {
		margin-left: 7%;
	}
	#menu-footer > .menu-item + .menu-item {
		margin-left: 7%;
	}
}
@media screen and (max-width: 471px) {
	.footer {
		&__menu {
			width: 90%;
		}
	}
	.coord {
		&__left, &__right {
			margin: 0 0 1em 25%;
		}
	}
	.footer__news--text {
		width: 75%;
	}
	#mc_embed_signup {
		width: 75%;
	}
}
@media screen and (max-width: 445px) {
	#menu-footer > .menu-item {
		margin-left: 5%;
	}
	#menu-footer > .menu-item + .menu-item {
		margin-left: 5%;
	}
}
@media screen and (max-width: 414px) {
	#menu-footer > .menu-item {
		margin-left: 3%;
	}
	#menu-footer > .menu-item + .menu-item {
		margin-left: 3%;
	}
	.footer {
		&__button {
			width: 15%;
		}
	}
}
