/* CSI
 *
 * /sass/components/header.scss - styles for header
 *
 * coded by Anne
 * started at 29/11/2016
 */
.main {
	overflow: hidden;
}
.header {
	position: relative;
	border-radius: 0px !important;
	border: none;

	&__up {
		background: rgba( $lightColor, 0.3 );
	}

	&__left {
		width: 7%;
		margin-left: 10%;
		padding: 1em 0;
		display: inline-block;
		vertical-align: middle;
	}
	&__hero {
		margin-bottom: 15em;
		width: 100%;
		&--img {
			width: 100%;
		}
	}
	&__small-hero {
		margin-bottom: 5em;
	}

	&__logo {
		display: block;
		width: 80%;
		padding: .3em 0;
		&--img {
			display: block;
			width: 100%;
		}
	}

	&__nav {
		display: inline-block;
		vertical-align: middle;
		padding: .8em 0;
		width: 70%;
	}
	&__drop {
		&--item {
			color:white;
		}
	}
	&__btn {
		display: none;
	}
	&__frames {
		padding: 0 8.5%;
		position: absolute;
		top: 25em;
		left: 0%;
	}
}

#menu-header {
	margin-left: 15%;
}

#menu-header > .menu-item {
	display: inline-block;
	margin-left: 5%;
	position: relative;
	cursor: pointer;
	font-size: .9em;
}

#menu-header > .menu-item a:hover, .menu > .menu-item a:active, .menu > .menu-item a:focus {
	text-decoration: underline;
	transition: .3s ease;
	cursor: pointer;
}

.menu-item-has-children:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 1.5em;
	color: $middleColor;
	display: inline-block;
	margin-top: .2em;
}

.menu-item-has-children:hover .sub-menu {
	display: block;
}

.menu > .menu-item a {
	text-transform: uppercase;
	text-decoration: none;
	color: $textColor;
	padding: 3.5em 0;
}

.sub-menu {
	display: none;
	background: $middleColor;
	position: absolute;
	min-width: 200px;
	top: 3em;
	right: -93px;
	font-size: .9em;
	z-index: 3;
}

.sub-menu > .menu-item > a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: .8em 1em;
	text-transform: none;
}

.sub-menu > .menu-item:hover, .sub-menu > .menu-item:active, .sub-menu > .menu-item:focus {
	background: $darkColor;
	transition: .3s ease;
	cursor: pointer;
}

.sub-menu > .menu-item:hover > a {
	text-decoration: none;
}

.sub-menu .menu-item + .menu-item {
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.sub-menu::before {
	content:'';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid $middleColor;
	position: absolute;
	top: -10px;
	left: 90px;

}

@media screen and (max-width: 1185px) {
	.header {
		&__logo {
			padding: .5em 0;
		}

		&__nav {
			width: 75%;
		}
	}
}
@media screen and (max-width: 1106px) {
	#menu-header {
		margin-left: 5%;
	}
}
@media screen and (max-width: 990px) {
	#menu-header {
		margin-left: 0;
	}
	#menu-header > .menu-item {
		margin-left: 5%;
	}
}
@media screen and (max-width: 940px) {
	#menu-header > .menu-item {
		margin-left: 3%;
	}
}
@media screen and (max-width: 868px) {
	.header {
		&__nav {
			width: 80%;
		}
	}
	#menu-header > .menu-item {
		font-size: .9em;
	}
}
@media screen and (max-width: 768px) {
	.header {
		&__hero {
			margin-bottom: 0;
			
		}

		&__left {
			width: 10%;
			margin-left: 0;
		}
		&__logo {
			width: 120%;
			padding: .2em 0 .2em 10%;
		}
		&__nav {
			background: $lightColor;
		}
		&__frames {
			padding: 0 8.5%;
			position: relative;
			top: 0em;
			left: 0%;
			width: 100%;
		}
		&__drop {
			&--item {
				color:white;
			}
		}
		&__btn {
			display: block;
			color: $textColor;
			background: $lightColor;
			position: fixed;;
			top: 0;
			right: 0;
			font-size: 2em;
			padding: .5em;
			text-align: center;
			cursor: pointer;
			z-index: 5;

		}
		&__close {
			visibility: hidden;
		    -webkit-transition: transform .1s ease-in;
		}
		&__burger {
		    -webkit-transition: transform .1s ease-in;
		}
	}
	#menu-header {
		margin-left: 0;
		background: $lightColor;
		z-index:3;
		min-height: 52em;
		margin-top: 4.1em;
	}

	#menu-header > .menu-item {
		display: block;
		margin-left: 0;
		position: relative;
		cursor: pointer;
		padding: 2em 0;


	}
	#menu-header > .menu-item + .menu-item {
		border-top: 1px solid $textColor;
	}

	#menu-header > .menu-item a:hover, .menu > .menu-item a:active, .menu > .menu-item a:focus {
		text-decoration: underline;
		transition: .3s ease;
		cursor: pointer;
	}

	.menu-item-has-children:after {
		display: none;
	}

	.menu-item-has-children:hover .sub-menu {
		display: block;
	}

	.menu > .menu-item a {
		padding-left: 15%;
	}

	.sub-menu {
		display: block;
		background: $lightColor;
		position: relative;
		min-width: 100%;
		max-width: 100%;
		top: 0;
		left: 0;
		margin-bottom: -2em;
	}

	.sub-menu > .menu-item > a {
		color: $textColor;
		text-transform: none;
		padding: 2em 0 2em 25%;
		text-align: left;
		font-size: 1.1em;
	}

	.sub-menu > .menu-item:hover, .sub-menu > .menu-item:active, .sub-menu > .menu-item:focus {
		text-decoration: underline;
		transition: .3s ease;
		cursor: pointer;
		background: transparent;

	}

	.sub-menu .menu-item + .menu-item {
		border-top: 1px solid rgba(255, 255, 255, 0.6);
	}

	.sub-menu::before {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	#menu-header {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    width: 250px;
	    transform: translateX(270px);
	    -webkit-transition: transform .3s ease-in;
		background: $lightColor;

	}
	.header__nav:target {
		#menu-header{
			transform: translateX(0);
		}
		.header__burger {
			display: none;
		}
		.header__close {
			visibility: visible;
			z-index: 100;
			font-size: 2em;
		}

	}
	.header {
		&__nav {
			background: none;
		}
	}
}
