/* CSI
 *
 * /sass/components/index.scss - styles for index page
 *
 * coded by Anne
 * started at 29/11/2016
 */


.article {
	margin-bottom: 6em;
	&__title {
		font-family: $lightText;
		font-size: 3.5em;
		line-height: 1.1;
		margin-bottom: .6em;
		padding-bottom: .3em;
		border-bottom: .15em solid $lightColor;
		&--small {
			display: block;
			font-size: 0.5em;
		}
	}
}

@media screen and (max-width: 1058px) {
	.content {
		float: none;
		width: 90%;
		margin: 5em auto;
	}
}
@media screen and (max-width: 666px) {
	.article {
		&__title {
			font-size: 3em;
		}
	}
}
@media screen and (max-width: 575px) {
	.article {
		font-size: .95em;
		&__title {
			font-size: 2.8em;
		}
	}
}
@media screen and (max-width: 506px) {
	.article {
		&__title {
			font-size: 2.5em;
		}
	}
}
