/* CSI
 *
 * /sass/components/index.scss - styles for index page
 *
 * coded by Anne
 * started at 29/11/2016
 */

.section {
    width: 55%;
    margin: 5em auto;
    &__title {
        font-family: $lightText;
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 1em;
    }
    &__content {
        p {
            line-height: 1.5;
        }
    }

    &__hero {
        width: 100%;
        position: relative;

        &--figure {
            overflow: hidden;
            max-height:25em;
        }
        &--img {
            width: 100%;
        }
        &--title {
            font-size: 2.25em;
            position: absolute;
            width: 50%;
            left: 25%;
            top: 5em;
            text-align: center;
            color: #fff;
        }
    }
}

.colored {
    background: rgba($lightContrastColor, .6);
    padding: 5em 20%;

    p {
        margin-bottom: 1em;
        line-height: 1.5;
    }
}

@media screen and (min-width: 2000px) {
    .section {
        width: 45%;
    }
}

 @media screen and (max-width: 768px) {
     .section{
         width: 90%;

         &__title {
             font-size: 1.4em;
         }
         &__hero {

             &--figure {
                 overflow: hidden;
                 max-height:15em;
             }
             &--img {
                 width: 100%;
             }
             &--title {
                 font-size: 1.4em;
                 width: 90%;
                 left: 5%;
             }
         }
     }

     .colored {
         padding: 3em 5%;
     }
 }
