/* CSI
 *
 * /sass/components/team.scss - Styles for team page
 *
 * coded by Anne
 * started at 29/11/2016
 */

 .team {
     width: 80%;
     margin: 0 auto;

     &__member {
         display: inline-block;
         width: 45%;
         vertical-align: top;
         margin-bottom: 3em;
         &--figure {
             display: table-cell;
             width: 45%;
             height: 18em;
             overflow: hidden;
             margin-bottom: 1em;
             vertical-align: middle;
         }
         &--infos {
             display: table-cell;
             vertical-align: middle;
             width: 50%;
             height: 18em;
             background: $middleColor;
             padding: 2em 3%;
             color:white;
             position: relative;
         }
         &--infos::before {
             content:"";
             width: 0;
              height: 0;
              border-top: 15px solid transparent;
              border-bottom: 15px solid transparent;
              display: block;
              border-right:15px solid $middleColor;
              position: absolute;
              top: 1em;
              left: -15px;
         }
         &--portrait {
            width: 100%;
         }
         &--name {
             text-align: center;
             font-family: $lightText;
             font-size: 1.3em;
            margin-bottom: .6em;
         }
         &--function {
            text-align: center;
            color: $lightColor;
            margin-bottom: 1.5em;
         }
         &--link {
            text-transform: uppercase;
            display: block;
            text-align: center;
            margin-bottom: 1em;
            color: $middleColor;
            cursor: pointer;
         }
         &--link:hover {
             text-decoration: none;
         }
         &--link:after {
             content:"";
             font-family: "FontAwesome";
             font-size: 1.2em;
             margin-left: 2%;
         }
         &--schedule {
            font-size: .9em;
            transition: .3s ease;
         }
         &--schedule ul li {
             margin-bottom: .5em;
         }
     }
    &__member:nth-child(odd) {
        margin-right: 6%;
    }
    &__list {
        margin: 2em 0;
    }
 }

@media screen and (min-width: 2000px) {
    .team {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .team {
        width: 80%;

        &__member {
            display: inline-block;
            width: 45%;
            &--figure {
                display: table-cell;
                width: 45%;
                vertical-align: middle;
            }

            &--portrait {
               width: 140%;
            }

        }
       &__member:nth-child(odd) {
           margin-right: 6%;
       }
       &__list {
           margin: 2em 0;
       }
    }
}

@media screen and (max-width: 1023px) {
    .team {
        &__member {
            width: 90%;
            margin-right: 3%;
            &--figure {
                height: 15em;
            }
        }
    }

}
@media screen and (max-width: 500px) {
    .team {
        width: 90%;
        margin: 0 auto;

        &__member {
            display: block;
            width: 100%;
            margin-bottom: 3em;
            &--figure {
                display: block;
                width: 100%;
                height: 20em;
                margin-bottom: 0em;
            }

            &--infos::before {
                 border-right:15px solid transparent;
            }
        }

    }

}
