/* CSI
 *
 * /sass/settings/colors.scss - Color variables
 *
 * coded by Anne
 * started at 10/10/2016
 */


$textColor: #30332F;

$lightContrastColor: #E5E1C4;
$lightColor: #67CFB8;
$middleColor: #378F7B;
$darkColor: #1C6E5C;
$ultraColor: #304131;
