/* CSI
 *
 * /sass/settings/colors.scss - Color variables
 *
 * coded by Anne
 * started at 10/10/2016
 */


$textColor: #30332F;

$lightColor: #E5F1E5;
$secondLightColor: #7FC080;
$middleColor: #4BB69E;
$secondMiddleColor: #009875;
$darkColor: #005C46;
