/* CSI
 *
 * /sass/settings/colors.scss - Color variables
 *
 * coded by Anne
 * started at 10/10/2016
 */


$textColor: #1B201D;

$lightColor: #a5cf8F;
$middleColor: #0A731A;
$darkColor: #638a4f;

$middleColorAlpha: rgba( 10, 115, 26, 0.8 );
$lightColorAlpha: rgba( 165, 207, 143, 0.4 );